<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<header> Trade   Report</header>

<body style="width: 800px; height: 119px; ">	
    <table style="width: 562px; height: 166px; ">
    <tr>
  		 <th align="center">Country</th>
  		 <th align="center">Total Sold</th>
  		 <th align="center">Total Bought</th>
  		 <th align="center">Trade  Count</th>
    </tr>
    <tr data-th-each="country : ${countries}">
        <td align="center" data-th-text="${country.country}"></td>
        <td align="center" data-th-text="${country.totalAmountSold}"></td>
        <td align="center" data-th-text="${country.totalAmountBought}"></td>
        <td align="center" data-th-text="${country.tradeCount}"></td>        
    </tr>
</table>
</body>
</html>